<html>
  <head>
    <title>NativeClient Forth</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="/favicon.ico" rel="SHORTCUT ICON">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <style type="text/css">
      body {
        background-color: #eeeeff;
        color: #000000;
      }
      a:link {
        color: blue;
      }
      a:visited {
        color: blue;
      }
      div.console {
        font-family: "Courier New"
                     Courier
                     "Andale Mono"
                     "Fixed"
                     "Lucidatypewriter"
                     monospace;
        font-size: 20px;
      }
      span.email {
        color: #000000;
      }
      span.cursor {
        background-color: #000077;
      }
    </style>
  </head>
  <body>
    <div id="login" align="right">
    {% if signed_in %}
      <span class="email">[ {{ email }} ]</span>
      <a href="{{ sign_out }}">Sign out</a>
    {% else %}
      <a href="{{ sign_in }}">Sign in</a>
    {% endif %}
    </div>
    
    <hr color="#333333"/>

    <div id="listener">
      <script type="text/javascript">
        var forth;
        var cursor_text = '<span class="cursor">&emsp;</span>';
        var out_buffer = '';
        var accept_buffer = '';
        var reading_line = false;
        var event_buffer = '';
        var last_output = '';

        function startEvents() {
          document.onkeypress = function(evt) {
            var ch = evt.which;
            if (ch == undefined) ch = evt.keyCode;
            event_buffer += String.fromCharCode(ch);
            processKeys();
            return false;
          };
          document.onkeydown = function(evt) {
            event_buffer += String.fromCharCode(evt.keyCode + 256);
            processKeys();
            if (evt.keyCode == 8) return false;
            return true;
          };
          document.onkeyup = function(evt) {
            event_buffer += String.fromCharCode(evt.keyCode + 512);
            processKeys();
            if (evt.keyCode == 8) return false;
            return true;
          };
          document.onpaste = function(evt) {
            var data = evt.clipboardData.getData('text/plain');
            data = data.replace(/\u2003/g, ' ');
            data = data.replace(/\r/g, '');
            data = data.replace(/\n/g, '\r');
            event_buffer += data;
            processKeys();
            return true;
          };
        }

        function htmlEscape(str) {
          return str.replace(
              /&/g, '&amp;').replace(
              / /g, '&emsp;').replace(
              />/g, '&gt;').replace(
              /</g, '&lt;').replace(
              /"/g, '&quot;').replace(
              /\n/g, '<br>\n'); 
        }

        function processKeys() {
          if (!reading_line) return;
          for (var i = 0; i < event_buffer.length; i++) {
            var ch = event_buffer.substr(i, 1);
            var code = event_buffer.charCodeAt(i);
            if (code == 8 || code == 8 + 256) {
              if (accept_buffer.length) {
                accept_buffer = accept_buffer.substr(
                    0, accept_buffer.length - 1);
              }
            } else if (code == 13) {
              reading_line = false;
              var line = accept_buffer;
              accept_buffer = '';
              out_buffer += (htmlEscape(line) + '<br>\n');
              event_buffer = event_buffer.substr(i + 1);
              refreshOut();
              forth.postMessage(line);
              return;
            } else if (code >= 32 && code <= 126) {
              accept_buffer += ch;
            }
          }
          event_buffer = '';
          refreshOut();
        }
  
        function refreshOut() {
          var out = document.getElementById('out');
          var value = out_buffer + htmlEscape(accept_buffer) + cursor_text;
          if (last_output != value) {
            last_output = value;
            out.innerHTML = value;
            window.scrollTo(0, document.body.scrollHeight);
          }
        }

        function httpRequest(url, method, values, callback) {
          var request = new XMLHttpRequest();
          request.overrideMimeType('text/plain; charset=x-user-defined');
          request.onreadystatechange = function() {
            if (request.readyState == 4) {
              callback(request.status, request.responseText);
            }
          };
          request.open(method, url);
          if (method == 'POST') {
            //request.setRequestHeader('Content-Type',
            //    'application/x-www-form-urlencoded');
            //request.setRequestHeader('Content-Type', 'multipart/form-data');
            var fd = new FormData();
            for (key in values) {
              fd.append(key, values[key]);
            }
            request.send(fd);
          } else {
            request.send(null);
          }
        };

        function handleMessage(msg) {
          var prefix = msg.data.substr(0, 1);
          var rest = msg.data.substr(1);
          if (prefix == 'a') {
            alert(rest);
          } else if (prefix == 'j') {
            eval(rest);
          } else if (prefix == 'c') {
            cursor_text = rest;
            refreshOut();
          } else if (prefix == 'p') {
            out_buffer = '';
            refreshOut();
          } else if (prefix == 'o') {
            out_buffer += htmlEscape(rest);
            refreshOut();
          } else if (prefix == 'O') {
            out_buffer += rest;
            refreshOut();
          } else if (prefix == 'i') {
            var tmp = event_buffer;
            event_buffer = '';
            forth.postMessage(tmp);
          } else if (prefix == 'r') {
            reading_line = true;
            processKeys();
          } else if (prefix == 'h') {
            var parts = rest.split('|');
            var method = parts[0];
            var url = parts[1];
            parts = parts.slice(2);
            var values = {};
            while (parts.length) {
              if (parts[0].substr(0, 1) == '_') {
                values[parts[0].substr(1)] = parts.slice(1).join('|');
                parts = [];
              } else {
                values[parts[0]] = parts[1];
                parts = parts.slice(2);
              }
            }
            httpRequest(url, method, values, function(status, text) {
              forth.postMessage(
                  String.fromCharCode(Math.floor(status / 100) % 100) +
                  String.fromCharCode(status % 100) + text);
            });
          } else {
            alert('Unknown message prefix "' + prefix + '"');
          }
        }

        function start(text) {
          startEvents();
          forth = document.getElementById('forth');
          forth.addEventListener('message', handleMessage);
          forth.postMessage(text);
        }
        
        function moduleDidLoad() {
          var boot = '{{ boot }}';
          if (boot == '') {
            start('{{ user_id }}');
          } else {
            httpRequest(boot, 'GET', {}, function(status, text) {
              if (status == 200) {
                start('{{ user_id }} ' + text);
              } else {
                out_buffer += 'ERROR - Unable to load boot code, ';
                out_buffer += 'falling back to built-ins!<br>\n';
                refreshOut();
                start('{{ user_id }}');
                return;
              }
            });
          }
        }

        if (window.chrome.app.isInstalled ||
            window.location.hostname == 'localhost') {
          document.getElementById('listener').addEventListener(
              'load', moduleDidLoad, true);
        } else {
          window.location = '/getapp';
        }
      </script>
      <embed type="application/x-nacl" id="forth"
             width="0" height="0" src="naclforth.nmf"/>
    </div>

    <div id="out" class="console"></div>
  </div></body>
</html>
