<html>
  <head>
    <title>NativeClient Forth</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="/favicon.ico" rel="SHORTCUT ICON">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <style type="text/css">
      body {
        background-color: #eeeeff;
        color: #000000;
      }
      a:link {
        color: blue;
      }
      a:visited {
        color: blue;
      }
      span.email {
        color: #000000;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript">
      window.setInterval(function() {
        window.location.href = window.location.href;
      }, 5000);
    </script>
    <div id="login" align="right">
      {% if signed_in %}
        <span class="email">[ {{ email }} ]</span>
        <a target="_blank" href="{{ sign_out }}">Sign out</a>
      {% else %}
        <a target="_blank" href="{{ sign_in }}">Sign in</a>
      {% endif %}
    </div>
  </body>
</html>
